
  h1 {
    color: red;
    background: black;
    font-family: Georgia, serif;
    font-size: 40px;
  }

  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    color:black;
    font-weight: bold;
  }

  div {
    background-color: red;
  }
  div p {
    background-color: blue;
    font-style: italic;
    color: white;
  }
  div p span {
    font-size: 20px;
  }

  /* -------------------------------- 25.08.2020 ---------------------------------- */
  /* selector {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
  } */

  /* Selectores poco especificos */
  /* h1 {
    color: red;
    background: black;
  }
  h2 {
    font-family: Arial, sans-serif;
  }
  p {
    font-size: 12px;
  } */

  /* Selectores especificos */
  /* h1, h2 {
    color: red;
    background: black;
  }
  h2 strong {
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  #botonera li.actual a {
    font-size: 12px;
  }
  div#principal p.destacado {
    font-size: 24;
  } */

/* -------------------------------- 26.08.2020 ---------------------------------- */

  /* font-family */

  /* h1 {
    font-family: Arial;
  } */

  /* h1 {
    font-family: Arial, sans-serif;
  }
  p {
    font-family: Helvetica, Arial, sans-serif;
  } */

  /* font-size */

  /* h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
  } */

  /* font-style */

  /* h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
  }
  p {
    font-style: normal;
  } */

  /* font-weight */

  /* h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
  }
  p {
    font-style: normal;
    font-weight: normal;
  } */

  /* color */
  /* h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: red;
  } */

  /* letter-spacing */

  /* h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #ff0000;
    letter-spacing: 3px;
  } */


/* word-spacing */

/* h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: #ff0000;
  letter-spacing: 3px;
  word-spacing: 10px;
} */

/* line-height */

/* h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: #ff0000;
  letter-spacing: 3px;
  word-spacing: 10px;
}
p {
  font-size: 16px;
  line-height: 20px;
} */


/* text-align */

/* p {
  text-align: left;
}
h2 {
  text-align: right;
}
h3 {
  text-align: center;
}
h4 {
  text-align: justify;
} */

/* text-decoration */

/* a {
  text-decoration: underline;
} */

/* h2 {
  text-decoration: line-through;
} */

/* a {
	text-decoration: none;
} */

/* text-indent */
/* p {
  font-size: 16px;
  line-height: 20px;
  text-indent: 20px;
} */

/* text-transform */

/* h1 {
  text-transform: uppercase;
} */

/* h2 {
  text-transform: lowercase;
} */

/* h3 {
  text-transform: capitalize;
} */

/* -------------------------------- 30.08.2020 ---------------------------------- */
/* Box Model */

h1 {
  border:5px solid red;
  padding: 50px 30px 40px 50px;
  margin: 10px 20px 0px 7px;
  width:400px;
  height:100px;
}

#box-model-1 {
  border:5px solid red;
  width:400px;
  height:100px;
}

#box-model-2 {
  border:5px solid red;
  padding: 50px 30px 40px 50px;
  margin: 10px 20px 0px 7px;
  width:400px;
  height:100px;
}

/* Padding */
/* h1 {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
} */


/* Border */

/* p {
  padding: 20px 30px 40px 50px;
  border: 5px solid #ff0000;
}
h1 {
  border-top: 5px solid #ff0000;
} */


/* Margin */

/* p {
  padding: 20px 30px 40px 50px;
  border: 5px solid #ff0000;
  margin: 10px 20px 0px 7px;
} */

/* h1 {
  margin: 20px;
} */

/* h2 {
  margin: 10px 20px; top-bottom // right-left
} */

/* Dimensions padding isn't included */
/* p {
  width: 80px;
  padding: 10px;
  height: 50px;
} */

/* Selector */
/* ul li {
  color: #ff0000;
}

ol li {
  color: #0000ff;
} */

/* Id */
/* <h1 id="principal">Un título principal</h1> */

/* #principal {
  color: #00ff00;
  font-size: 24px;
} */

 /* Class "." */

/* <h1 id="principal">Un título principal</h1>

<p class="destacado">Esto es un párrafo destacado.</p>
#principal {
  color: #00ff00;
  font-size: 24px;
}
.destacado {
  font-size: 18px;
} */

/*
p#principal {
  color: #00ff00;
  font-size: 24px;
}
p.destacado {
  font-size: 18px;
} */

/* pseudo-classes ":" */
/* a {
  text-decoration: none;
}
a:link {
  color: #0000ff;
}
a:visited {
  color: #777777;
}
a:hover {
  text-decoration: underline;
}
a:active {
  font-weight: bold;
} */