/* 02.09.2021 */

/* box-sizing  */
/* content-box vs border-box*/
/* * {
    box-sizing: content-box;
}

  * {
    box-sizing: border-box;
  } */

* {
    box-sizing: border-box;
}
header {
    border:5px solid rgba(101, 179, 13, 0.301);
    width:300px;
    height:200px;
    padding: 30px;

    max-width: 800px;
    min-width: 100px;

    max-height: 300px;
    min-height: 100px;
}

footer {
    border:5px solid rgba(101, 179, 13, 0.301);
    width:300px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}

/* display (inline, block, inline-block, none) */

#block {
    display: block;
    color:green;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

#inline {
    display: inline;
    color:greenyellow;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

#inline-block {
    display: inline-block;
    color:hotpink;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

#none {
    display: none;
    color:lawngreen;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

ul.inline li {
    display: inline;
    font-size: 20px;
    color:hotpink;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

ul.block li {
    display: block;
    font-size: 20px;
    color:hotpink;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

ul.inline-block li {
    display: inline-block;
    font-size: 20px;
    color:hotpink;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

ul.none li {
    display: none;
    font-size: 20px;
    color:hotpink;
    width:200px;
    height: 60px;
    border: 3px solid black;
}

ul h1 {
    font-size: 30px;
}

div#image h1 {
    width:600px;
    height:600px;
    border: 2px solid black;
}

#image {
    background-image: url("MarioBros.png");
    background-repeat: no-repeat;  /* repeat-x;repeat-y; */
    background-position: 50px 50px; /*top left;  top; bottom; center; left; right; */
    background-attachment: scroll;  /* fixed */
}

button {
    width:200px;
    height: 60px;
    font-size:24px;
}

button:hover {
    background-color: blue;
    color:white;
}

/* 06.09.2021 */
/* Pixels */

/* h1 {
    width: 80px;
  } */

div.css-units {
    font-size: 20px;
    width: 75%;
}

/* percentage relative from browser dimensions available*/
div.css-units ul {
    width: 100%;
    background-color: blueviolet;
}

div.css-units li {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    background-color: cornflowerblue;
    font-size: 250%;
}

  /* em relative from font-size parent-component*/

div.css-units p.percentage {
    font-size: 24px;
    border:50% solid black;
    width: 45%;
    margin-top: 3%;
    margin-bottom: 2%;
}

/* 2 x 20 = 40px */
.css-units h1 {
    font-size: 2.5em;
}

.css-units p.em {
    font-size: 24px;
    border:0.05em solid black;
    margin-top: 3em;
    margin-bottom: 2em;
}

  /* rem (root em) relative from font-size html-tag */

html {
    font-size: 30px;
}

p {
    font-size: 1.2rem;
}

 /* (*) universal selector */

* {
    margin: 0;
    padding: 0;
}

#contenedor p, div > div{
	background-color: #FF0000;
    color: #cdcdcd;
}

#grouping h1 + h2, .titulo {
    background-color:cyan;
}


/* p:first-child {
    background-color:cyan;
}

ul#botonera li:last-child {
    background-color:cyan;
} */

/* p:lang(es) {

} */

/* 21.09.2021 */
/* Focus */

/* input:focus {
	border: solid 1px #00FF00;
} */

/* input:enabled {

} */

/* select:disabled {
	color:#cbcbcb;
  	font-size: 0.9em;
  	padding: 15px;
} */